

 


  img:hover {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    border: solid 8px black;
    animation: rotation 10s infinite linear;
    
  }
  .footer-contact img:hover {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: none;
    animation: none;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }