/* Add CSS styling here */



  

 

  .box1 p {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
/* box 2 */
.box2{
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .box2 img {
    width: auto;
    height: 20vh;
      display: flex;
      margin: 1rem;
      margin: 0 10%;

  }

  .box2 p {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
/* box 3 */
.box3{
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
    
  }

  .box3 img {
      width: auto;
      height: 20vh;
      display: flex;
      margin: 1rem;
      margin: 0 10%;
     
    

  }

  .box3 p {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    
    
  }
/* box 4 */
.box4{
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .box4 img {
      width: 75%;
      display: flex;
      margin: 1rem;
      margin: 14% 10%;

  }

  .box4 p {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
/* box 5 */
.box5{
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .box5 img {
      width: 75%;
      display: flex;
      margin: 1rem;
      margin: 0 10%;

  }

  .box5 p {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
/* box 6 */
.box6{
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .box6 img {
      width: 75%;
      display: flex;
      margin: 1rem;
      margin: 0 10%;

  }

  .box6 p {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }

  .box123 {
    display: flex;
    justify-content: space-between;
    height: 40vh;
    margin: 2rem .7rem;
    
  }
  .box456 {
    display: flex;
    justify-content: space-between;
    height: 40vh;
    margin: 2rem .7rem;
    
  }

  .footer-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      height: 7vh; 
  }

  .footer-contact nav {
    width: 3%;
    height: auto;
    display: flex;
    justify-content: center;
  }



  img:hover {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    border: solid 8px black;
    animation: rotation 10s infinite linear;
    
  }
  .footer-contact img:hover {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: none;
    animation: none;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }