* {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  
  html {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
     
  }

  body {
    display: grid;
    height: 100vh;
    grid-template-rows: 5fr 14fr  2fr ;
    grid-gap: 20px;
  }
/* header start */
  .navigation {
    display: flex;
    justify-content: space-between;
    margin: 2vh;
    /* border: red solid 2px; */
    align-items: center;
  }

  .navigation a {
    background-color: white;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    margin: 0 1vw;
    padding: 1vh 2vw;
    border: black 2px solid;
}

.navigation a:hover {
    border: black 3px solid;
}

.navigation h2 {
    margin-left: 2.5vw;
    font-size: 3rem;
   }

   .my-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.my-name h1 {
    font-size: 3rem;
}

.my-name h1:hover {
    text-shadow: 2px 2px 30px #888888;
}

.my-name p {
    font-size: 2rem;
}
/* main starts */
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2vw;
}



.main-boxs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 2vw;
  }
  .main-boxs:hover {
    border: 2px solid black;
    box-shadow: 5px 9px 5px #888888;
  }
  .main-boxs img {
    width: 75%;
    display: flex;
    /* margin: 1rem; */
    margin: 0 10%;

}
.main-boxs p {
    display: flex;
    justify-content: center;
    font-size: large;
  }


  

/* footer starts */


.footer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 7vh; 
}

.footer-contact nav {
  width: 3%;
  height: auto;
  display: flex;
  justify-content: center;
}
@media (max-width: 800px){
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 3vw;
    }

}


@media (max-width: 500px) {

    .navigation {
        display: grid;
        grid-template-rows: 1fr;
        justify-content: center;
      }

      .navigation a {
        display: flex;
        justify-content: center;
        margin: 1vh 3vw;
        padding: 2vh 2vw;  
    }

    .main-boxs p {
        font-size:small;
      }

}
