* {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  
  html {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
     
  }

  body {
    display: grid;
    height: 100vh;
    grid-template-rows: 5fr 14fr  2fr ;
    grid-gap: 20px;
  }
/* header start */
  .navigation {
    display: flex;
    justify-content: space-between;
    margin: 2vh;
    /* border: red solid 2px; */
    align-items: center;
  }

  .navigation a {
    background-color: white;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin: 0 1vw;
    padding: 1vh 2vw;
    border: black 2px solid;
}

.navigation a:hover {
    border: black 3px solid;
}

.navigation h2 {
    margin-left: 2.5vw;
    font-size: 3rem;
   }

   .my-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.my-name h1 {
    font-size: 3rem;
}

.my-name p {
    font-size: 2rem;
}
/* main starts */
main {
    /* background-color: chocolate; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1vw;
}

main div {
    /* background-color: greenyellow; */
}

.main-boxs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .main-boxs img {
    width: 75%;
    display: flex;
    margin: 1rem;
    margin: 0 10%;

}
.main-boxs p {
    display: flex;
    justify-content: center;
    font-size: large;
  }


  

/* footer starts */
footer {
  background-color: darkgray;
}
